*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:Arial,sans-serif;
    background:#f4f6f9;
    color:#333;
}

nav{
    background:#0f172a;
    color:white;
    display:flex;
    justify-content:space-between;
    padding:20px 50px;
}

nav ul{
    display:flex;
    list-style:none;
    gap:20px;
}

nav a{
    color:white;
    text-decoration:none;
}

header{
    background:linear-gradient(135deg,#1e3a8a,#2563eb);
    color:white;
    text-align:center;
    padding:80px 20px;
}

header h1{
    font-size:3rem;
}

header h3{
    margin-top:10px;
}

header p{
    margin-top:15px;
}

.btn{
    display:inline-block;
    margin-top:20px;
    background:white;
    color:#2563eb;
    padding:12px 25px;
    border-radius:30px;
    text-decoration:none;
    font-weight:bold;
}

.card{
    width:85%;
    margin:40px auto;
    background:white;
    padding:30px;
    border-radius:12px;
    box-shadow:0 4px 10px rgba(0,0,0,0.1);
}

.card h2{
    margin-bottom:20px;
    color:#1e3a8a;
}

.skills{
    display:flex;
    flex-wrap:wrap;
    gap:15px;
}

.skills span{
    background:#2563eb;
    color:white;
    padding:10px 15px;
    border-radius:20px;
}

.box{
    background:#f8fafc;
    padding:20px;
    margin-bottom:15px;
    border-left:5px solid #2563eb;
}

.project{
    background:#f8fafc;
    padding:20px;
    margin-bottom:15px;
    border-radius:8px;
}

footer{
    text-align:center;
    padding:20px;
    background:#0f172a;
    color:white;
}